---
---
{/* TODO: Dirigir a novedades */}
<a href="/" class="hover:text-rose-800">Inicio</a>
<a href="#" class="hover:text-rose-800">Novedades</a>
<a href="#radio-player" class="hover:text-rose-800">Reproducir</a>
<a href="#" class="hover:text-rose-800">Contacto</a>
