---
import Facebook from "./icons/Facebook.astro";
---
<section class="py-8 text-center">
    <a href="https://www.facebook.com/emisoralapegajosaconfines" target="_blank" rel="noopener noreferrer" class="inline-block">
        <Facebook />
    </a>
</section>